<div class="container">
  <div class="star-box">
    <div class="width d-flex flex-row-reverse">
      <span (click)= 'starClicked(5)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(4)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(3)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(2)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(1)'><i class="fas fa-star"></i></span>
    </div>  
  </div>
  <div class="starbox" [style.width.px]= 'starWidth2'>
    <div class="width d-flex flex-row-reverse">
      <span (click)= 'starClicked(5)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(4)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(3)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(2)'><i class="fas fa-star"></i></span>
      <span (click)= 'starClicked(1)'><i class="fas fa-star"></i></span>
    </div>  
  </div>
</div>